.category-card {
    padding: 20px 10px;
}

.dd-icon {
    width: 20px;
}

.product-container {
    width: 75%;
}

.sort-btn {
    border: none;
    background: #760000;
    color: white;
    font-size: small;
    width: 60px;
    border-radius: 5px;
}

.items-number{
    font-weight: bold;
    color: #2c36bb;
}

.product-image{
    height: 200px;
}

.slider{
    padding: 20px;
}

.reset-btn{
    cursor: pointer;
    color: orange;
}
